<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>

      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>

          <!-- IPA DOWNLOAD URL -->
          <key>url</key>
          <string>https://shubham7112001.github.io/nye_ota_builds/nye_uat_ios_420_178.ipa</string>

        </dict>

        <dict>
          <key>kind</key>
          <string>display-image</string>
          <key>url</key>
          <string>https://shubham7112001.github.io/nye_ota_builds/icon57.png</string>
        </dict>

        <dict>
          <key>kind</key>
          <string>full-size-image</string>
          <key>url</key>
          <string>https://shubham7112001.github.io/nye_ota_builds/icon512.png</string>
        </dict>
      </array>

      <key>metadata</key>
      <dict>

        <!-- BUNDLE IDENTIFIER -->
        <key>bundle-identifier</key>
        <string>com.rapipay.nye.test</string>

        <!-- REQUIRED: BUILD NUMBER -->
        <key>bundle-version</key>
        <string>178</string>

        <key>kind</key>
        <string>software</string>

        <!-- APP NAME -->
        <key>title</key>
        <string>NYE UAT</string>

      </dict>

    </dict>
  </array>
</dict>
</plist>